
DirectX12/build/.vs/Level_Renderer_D3D12/FileContentIndex/8b1b7345-32ba-4b31-afe2-752f7c9af746.vsidx
DirectX12/build/.vs/Level_Renderer_D3D12/FileContentIndex/read.lock
DirectX12/build/.vs/Level_Renderer_D3D12/v17/.suo
DirectX12/build/.vs/Level_Renderer_D3D12/v17/Browse.VC.db
DirectX12/build/.vs/Level_Renderer_D3D12/v17/fileList.bin
DirectX12/build/.vs/Level_Renderer_D3D12/v17/ipch/AutoPCH/fec20381d8a1c315/MAIN.ipch
DirectX12/build/.vs/Level_Renderer_D3D12/v17/Solution.VC.db
DirectX12/build/ALL_BUILD.vcxproj
DirectX12/build/ALL_BUILD.vcxproj.filters
DirectX12/build/cmake_install.cmake
DirectX12/build/CMakeCache.txt
DirectX12/build/CMakeFiles/3.27.6/CMakeCCompiler.cmake
DirectX12/build/CMakeFiles/3.27.6/CMakeCXXCompiler.cmake
DirectX12/build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_C.bin
DirectX12/build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_CXX.bin
DirectX12/build/CMakeFiles/3.27.6/CMakeRCCompiler.cmake
DirectX12/build/CMakeFiles/3.27.6/CMakeSystem.cmake
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.c
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/CompilerIdC.exe
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/CompilerIdC.vcxproj
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CMakeCCompilerId.obj
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.exe.recipe
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/CompilerIdCXX.exe
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/CompilerIdCXX.vcxproj
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
DirectX12/build/CMakeFiles/3.27.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
DirectX12/build/CMakeFiles/3.27.6/VCTargetsPath.txt
DirectX12/build/CMakeFiles/3.27.6/VCTargetsPath.vcxproj
DirectX12/build/CMakeFiles/3.27.6/x64/Debug/VCTargetsPath.recipe
DirectX12/build/CMakeFiles/3.27.6/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
DirectX12/build/CMakeFiles/a7e17177066178dda2b456538f503c96/generate.stamp.rule
DirectX12/build/CMakeFiles/cmake.check_cache
DirectX12/build/CMakeFiles/CMakeConfigureLog.yaml
DirectX12/build/CMakeFiles/generate.stamp
DirectX12/build/CMakeFiles/generate.stamp.depend
DirectX12/build/CMakeFiles/generate.stamp.list
DirectX12/build/CMakeFiles/TargetDirectories.txt
DirectX12/build/Debug/Level_Renderer_D3D12.exe
DirectX12/build/Debug/Level_Renderer_D3D12.pdb
DirectX12/build/Debug/PixelShader.cso
DirectX12/build/Debug/VertexShader.cso
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CL.command.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CL.read.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CL.write.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CustomBuild.command.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CustomBuild.read.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/CustomBuild.write.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/fxc.command.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/fxc.read.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/fxc.write.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/Level_Renderer_D3D12.lastbuildstate
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/link.command.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/link.read.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Re.2CD81B6B.tlog/link.write.1.tlog
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Renderer_D3D12.exe.recipe
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Renderer_D3D12.ilk
DirectX12/build/Level_Renderer_D3D12.dir/Debug/Level_Renderer_D3D12.log
DirectX12/build/Level_Renderer_D3D12.dir/Debug/main.obj
DirectX12/build/Level_Renderer_D3D12.dir/Debug/vc143.pdb
DirectX12/build/Level_Renderer_D3D12.sln
DirectX12/build/Level_Renderer_D3D12.vcxproj
DirectX12/build/Level_Renderer_D3D12.vcxproj.filters
DirectX12/build/Level_Renderer_D3D12.vcxproj.user
DirectX12/build/LogOutput.txt
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
DirectX12/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
DirectX12/build/ZERO_CHECK.vcxproj
DirectX12/build/ZERO_CHECK.vcxproj.filters
